body {
    background-color:black;
    font: 'aria';
    color: white;
}
h1{
    color:gray;
    font: 'verdana';
    text-align: center;
}
.maindiv {
background-color: white;
color: black;
width: 400px;
margin: 0 auto;
padding: 20px;
border-radius: 20px;


}
.year{
    margin-right: 106px;
    padding-top: 8px;
    
}

.footer{
    padding-right: 60%;
    margin-top: 2%;
    
}
.complete{
    display: inline;
    padding-right: 28%;
    margin-top: 2%;
 
}
